/* Dark mode variables */
[data-theme="dark"] {
	--background-color: #121212;
	--first-level-background-color: #181818;
	--second-level-background-color: #272727;
	--font-color: white;
}

/* Light mode variables */
[data-theme="light"] {
	--background-color: #EDEDED;
	--first-level-background-color: #E7E7E7;
	--second-level-background-color: #D8D8D8;
	--font-color: #121212;
}

/* Global Variables */
:root {
	/* Both are supported */
	color-scheme: light dark;

	--accent-color: #0076be;
	--default-transition: 350ms;

	/* Main Menu */
	--main-menu-button-transition: 750ms;

	font-size: 16px;
	color: var(--font-color);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #2bcab6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 1px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #2bcab6;
	border-radius: 1px;
	border: 1px solid #ffffff;
}

input[type="submit"] {
	cursor: pointer;
}

.noTextSelect {
	/* iOS Safari */
	-webkit-touch-callout: none;
	/* Safari */
	-webkit-user-select: none;
	/* Konqueror HTML */
	-khtml-user-select: none;
	/* Old versions of Firefox */
	-moz-user-select: none;
	/* Internet Explorer/Edge */
	-ms-user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	user-select: none;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: unset;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
	--scrollbar-width: calc(100vw - 100%);

	background-color: var(--background-color);
	margin: 0;
	height: 100vh;
	max-height: 100vh;
	max-width: calc(100vw - var(--scrollbar-width));
	overflow: hidden;
	position: relative;
	z-index: -1;
}


/* Header */
header {
	top: 1rem;
	left: 1rem;
	width: max-content;
	position: absolute;
	z-index: 1000;
}

header a {
	text-decoration: none;
	padding: .75rem;
}

header svg {
	display: inline;
	height: 2.5rem;
	vertical-align: middle;
	transform-origin: center;
	animation: staticlogo;
	animation-duration: var(--default-transition);
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

header svg path {
	fill: var(--font-color);
	transition-duration: var(--default-transition);
}

header h1 {
	color: var(--font-color);
	display: inline;
	margin: 0;
	vertical-align: middle;
	transition-duration: var(--default-transition);
}

header a:hover {
	cursor: pointer;
}

header a:hover h1 {
	color: var(--accent-color);
}

header a:hover>svg,
header a:hover>svg>path {
	cursor: pointer;
	fill: var(--accent-color);
}

header a:hover>svg {
	animation: spinlogo;
	animation-duration: var(--default-transition);
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}

@keyframes spinlogo {
	from {
		transform: scale(1);
	}

	to {
		transform: scale(1.1);
	}
}

@keyframes staticlogo {
	from {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
}

/* End of Header */

/* NAV */
nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	width: 100%;
}

nav>*:not(#main-menu) {
	margin: .5rem;
}

nav #main-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	opacity: 0;
	border-radius: 25%;
	overflow: hidden;
	transition: all var(--default-transition);
	color: var(--font-color);
	pointer-events: none;
}

nav #main-menu.visible {
	border-radius: 0%;
	z-index: 1000;
	transition: all var(--default-transition), z-index 0ms;
	opacity: 1;
	background-color: var(--first-level-background-color);
	pointer-events: all;
}

nav #main-menu>ul {
	/* Remove bullets */
	list-style-type: none;
	/* Remove padding */
	padding: 0;
	/* Remove margins */
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	font-size: 3rem;
}

nav #main-menu>ul>a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-height: 4vh;
}

nav #main-menu>ul>a * {
	transition-duration: var(--default-transition);
}

nav #main-menu>ul>a>li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav #main-menu>ul>a>li>svg {
	height: 2.5rem;
	margin-left: 1rem;
	fill: var(--font-color);
	overflow: visible;
}

nav #main-menu>ul>a:hover * {
	scale: 1.05;
	color: var(--accent-color);
	fill: var(--accent-color);
}

#theme-toggle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 3.125rem;
}

#theme-toggle:focus,
#theme-toggle:active {
	outline: .1rem solid var(--accent-color);
}

#theme-toggle>.theme-icon {
	height: 2.5rem;
}

.theme-icon {
	display: none;
	transition: var(--default-transition);
}

.theme-icon:hover path {
	fill: var(--accent-color);
}

.theme-icon path {
	fill: var(--font-color);
	transition: var(--default-transition);
}

.active-element {
	display: initial;
}

/* End of NAV */

/* Main */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
	z-index: -1;
}

#main-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	text-align: center;
	word-wrap: break-word;
	position: relative;
	z-index: -1;
}

#main-form h2 {
	margin: 0;
}

#main-header {
	transition-duration: calc(var(--default-transition) * 3);
	font-size: 3rem;
	text-align: center;
}

#main-header[data-status='Clocked In'] {
	color: #48ff00;
}

#main-header[data-status='Clocked Out'] {
	color: #ff0000;
}

#main-header[data-status='Updating'] {
	color: darkviolet;
}

#main-header[data-status='Unknown'] {
	color: #fffb00;
}

/* API List */
#api-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	pointer-events: none;
	position: absolute;
	overflow-x: auto;
	max-width: calc(100% - var(--scrollbar-width));
	z-index: -1;
	bottom: 17vh;
}

#api-list:has(> :nth-child(2)) {
	justify-content: space-between !important;
	background-color: green !important;
}

#api-list>li {
	align-items: center;
	background-color: var(--first-level-background-color);
	border-style: solid;
	border-width: .1rem;
	display: flex;
	flex-direction: column;
	height: 10rem;
	justify-content: space-between;
	pointer-events: all;
	min-width: max-content;
	width: fit-content;
	margin: 1rem;
	z-index: -1000;
}

#api-list>li>ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	padding: .75rem;
}

#api-list>li>ul label {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

#api-list ul,
#api-list li {
	list-style: none;
	padding-inline-start: unset;
}

#api-list h3 {
	background-color: var(--second-level-background-color);
	margin: 0;
	padding: 0;
	padding-bottom: .3rem;
	padding-top: .3rem;
	text-align: center;
	width: 100%;
}

#api-list .time-card-amount,
#api-list .time-card-earned {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
}

#api-list .time-card-amount {
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-style: solid;
	border-top-width: .1rem;
	height: 100%;
}

#api-list .time-card-earned {
	height: 1rem;
	padding-top: .2rem;
	padding-bottom: .2rem;
}

/* API Cards */
#api-list>li:nth-child(5n + 1) {
	box-shadow: 0 0 .5rem 0 #E51400;
}

#api-list>li:nth-child(5n + 1),
#api-list>li:nth-child(5n + 1)>h3 {
	border: .1rem solid #E51400;
}


#api-list>li:nth-child(5n + 2) {
	box-shadow: 0 0 .5rem 0 #FA6800;
}

#api-list>li:nth-child(5n + 2),
#api-list>li:nth-child(5n + 2)>h3 {
	border: .1rem solid #FA6800;
}


#api-list>li:nth-child(5n + 3) {
	box-shadow: 0 0 .5rem 0 #E3C800;
}

#api-list>li:nth-child(5n + 3),
#api-list>li:nth-child(5n + 3)>h3 {
	border: .1rem solid #E3C800;
}


#api-list>li:nth-child(5n + 4) {
	box-shadow: 0 0 .5rem 0 #60A917;
}

#api-list>li:nth-child(5n + 4),
#api-list>li:nth-child(5n + 4)>h3 {
	border: .1rem solid #60A917;
}


#api-list>li:nth-child(5n + 5) {
	box-shadow: 0 0 .5rem 0 #0050EF;
}

#api-list>li:nth-child(5n + 5),
#api-list>li:nth-child(5n + 5)>h3 {
	border: .1rem solid #0050EF;
}

/* Log */
#log-container {
	background-color: var(--first-level-background-color);
	border-top: .1rem solid var(--accent-color);
	bottom: 0;
	color: var(--font-color);
	height: calc(15vh - 2rem - .2rem);
	min-height: calc(15vh - 2rem - .2rem);
	overflow-y: auto;
	padding: 1rem;
	position: absolute;
	width: calc(100% - 2rem - .2rem);
	z-index: -1000;
}

#log-container>h2 {
	text-align: center;
	margin: 0;
}